@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 105 115 179;
    --color-secondary: 111 114 185;
    --foreground-rgb: 20, 20, 20;
    --background-start-rgb: 15, 21, 91;
    --background-end-rgb: 15, 10, 20;
    --color-text-base: 255, 255, 255;
  }

  .theme-kv {
    --color-primary: 19, 10, 129;
    --color-text-skinbase: 19, 10, 129;
  } 
}

@layer components {
  
  .theme-kv {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: 0 auto;
    padding: 3rem;
  }

  .theme-kv > .navbar {
    position: absolute;
    opacity: 80%;
    height: 30px;
    top: 0; right: 0;
    z-index: 0;
  }

  .navbar > ul {
    display: flex;
    flex: 1;
    list-style-type: none;
    margin: 0;
    line-height: 30px;
  }

  .navbar > ul > * {
      flex: 1;
      flex-basis: auto;
      color: #a21919;
      font-size: 18px;
      font-weight: 600;
      padding-right: 10px;
  }

  .theme-kv > .siteLogo {
    position: absolute;
    display: flex;
    gap: 0.75em;
    top: 0;
    left: 0;
    z-index: 100;
    width: 30%; 
    height: 40px;
    /* background-color: theme('colors.gold3'); */
    /* border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius); */
  }

  .siteLogo > h2 {
        text-align: left;
        line-height: 40px;
    }

  .theme-kv > .wrapper {
        width: inherit;
   }

  .theme-kv >.hero {
      position: relative;
      width: 100%;
      padding-top: 0;
      /* background-color: theme('colors.gold3'); */
  }

  .theme-kv > .card {
      background-color: theme('colors.gold1');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
  }

  .button--default {
    @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:
    bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
  }

  .button--action {
    @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:
    bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
  }

  .button--success {
    @apply text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:
    bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800
    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
  }

  .button--warning {
    @apply text-white bg-gradient-to-r from-green-400 to-blue-600 hover:
    bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800
    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
  }

  .button--danger {
    @apply text-white bg-gradient-to-br from-purple-500 to-pink-500 hover:
    bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800
    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
  }

  .button--accent {
    @apply text-white bg-gradient-to-r from-pink-500 to-orange-400 hover:
    bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800
    font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
  }

}


@layer utilities {
  .text-primary:hover {
    color: #007bff;
  }
}


@media (prefers-color-scheme: light) {

  /** set color / dark theme **/
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}



/* .next-theme {
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

