@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(109, 103, 103);
    --foreground-rgb: rgb(250, 246, 246);
    --background-start-rgb: rgb(140, 11, 95);
    --background-end-rgb: rgb(15, 173, 252);
    --color-text-base: #edff4b;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #c9c614;
    --color-button-accent: #ee62cb;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #6366f1;

  }

  .theme-mo {
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(109, 103, 103);
    --foreground-rgb: rgb(250, 246, 246);
    --background-start-rgb: rgb(221, 17, 150);
    --background-end-rgb: rgb(15, 173, 252);
    --color-text-base: #e5cfe4;
    --color-text-muted: #f15fe8;
    --color-text-inverted: #e99ade;
    --color-fill: #095981;
    --color-button-accent: #c0147e;
    --color-button-accent-hover: #e6ef8c;
    --color-button-muted: #62ff14;

  }

  .theme-neo {
    --foreground-rgb: rgb(250, 246, 246);
    --background-start-rgb: rgb(221, 17, 150);
    --background-end-rgb: rgb(15, 173, 252);

    --color-text-base: rgb(17, 24, 2);
    --color-text-inverted: rgb(235, 250, 204);

    --color-text-muted: rgb(47, 67, 6);
    --color-fill: rgb(179, 255, 23, 0.2);

    --color-button-accent: rgb(36, 52, 3);
    --color-button-accent-hover: rgb(55, 79, 5);

    --color-button-muted: rgb(212, 255, 122);

  }
}

@layer components {


}

@layer utilities {

}


@media (prefers-color-scheme: light) {

  /** set color / dark theme **/
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}
